# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models
my_model*/

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.flaskenv

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
